@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <style>
        body {
            background-color: #1b2838
        }
    </style>
    <h1 style="color: lightgray">Enter Steam ID</h1>
    <form method="post">
        <input type="text" asp-for="steamID.userID" placeholder="Steam ID" />
        <button type="submit">Submit</button>
    </form>
</div>

